/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Font Styling */
body{
  font-family: 'Lato', sans-serif;
  background-color: rgb(15, 21, 33);
  color: rgb(235, 236, 237);
}

/* Media Query */
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) {
  .searchInput{
    width: 90vw;
  }
}
@media only screen 
and (min-width : 767px) {
.searchInput{
  width: 80vw;
}
}

@media only screen 
and (min-device-width : 768px) {
.searchInput{
  width: 60vw;
}


}


/******************************************
/* LAYOUT
/*******************************************/
.ally{
  position: absolute;
  left: -10000px;
}

.none{
  display: none;
}

.flex{
  display: flex;
}

.searchBox{  
  padding: 2rem;
  margin: 0 auto;

}

html, body{
  width: 100vw;
  height: 100vh;
  font-size: 10px;
}

input[type="text"]{
  font-size: 2.2rem;
  text-align: left;
  border: 0;
  outline: none;
  min-width: 20rem;
  padding-left: 10px;
  border-radius: 25px;
}

i{
  line-height: 2.3rem;
}

.button{
  cursor: pointer;
  border: 0;
  background: transparent;
  margin-left: -2.75rem;
}

.displayResult{
  display: flex;
  flex-direction: column;
}

.stat{
  font-size: 1.4rem;
  padding: 0 1rem 1rem 1rem;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

img{
  display: block;
  margin: 0 auto;
}

.findbooks{
  list-style: none;
}

.card {
  text-align: center;
  padding: 0 5em;
  margin: auto;
}

.card h1{
  width: 50%;
}

/* Search Result Styling */

.bookTitle span{
  font-size: 2.4rem;
}

.resultItem {
  padding: 1rem 0;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
